<div class="col-xs-6">
    <google-map 
            center="map.center" 
            zoom="map.zoom" 
            dragging="map.dragging"
            draggable="true"
            control="map.control">
        <marker ng-repeat="m in map.markers" coords="m" icon="m.icon" click="onMarkerClicked(m)">
            <marker-label content="m.title" anchor="22 0" class="marker-labels"/>
            <window ng-cloak  coords="map.infoWindowWithCustomClass.coords" isIconVisibleOnClick="false" options="map.infoWindowWithCustomClass.options">
                    <p>{{ m.title }}<br>
                    {{ m.alert }}<br>
                    <a href=#/forecast.html${{ m.number }}>Sales Forecast</a>
                    </p>
            </window>
        </marker>
    </google-map>
</div>

<div class="col-xs-6">
    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Order Forecast</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class=\"table table-striped\" align="center">
                          <thead>
                            <tr>
                                <th>sku</th>
                                <th>description</th>
                                <th>inventory</th>
                                <th>forecast</th>
                            </tr>
                           </thead>
                        <tbody>
                            <tr>
                                <th>100100</th>
                                <th>Snow Shovel</th>
                                <th>5</th>
                                <th>12</th>
                            </tr>
                            <tr>
                                <th>200200</th>
                                <th>Garden Gloves</th>
                                <th>15</th>
                                <th>8</th>
                            </tr>
                            <tr>
                                <th>300300</th>
                                <th>Rock Salt, 25 lbs</th>
                                <th>3</th>
                                <th>33</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> 
    </div>
</div>
