
<div class="container-fluid">
  
    <div class="row">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Order Forecast</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                  <!--<table class="table table-striped"><thead><tr><th>sku</th><th>description</th><th>inventory</th><th>orig. sales forecast</th><th>updated sales forecast</th></tr></thead><tbody><tr><th>12345</th><th>Snow Shovel</th><th>12</th><th>15</th><th>15</th></tr><tr><th>12345</th><th>Salt, 10 lbs</th><th>12</th><th>8</th><th>8</th></tr><tr><th>77789</th><th>Beach Umbrella</th><th>29</th><th>23</th><th>89</th></tr><tr><th>77123</th><th>Generator</th><th>8</th><th>1</th><th>15</th></tr></tbody></table>-->
                  <p id="itemlistHTML">
                  </p>
                </div>
            </div>
        </div>
    </div> <!-- row -->

    <!-- <div class="row">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Forecast Graph</h3>
            </div>
            <div class="panel-body">
              Graph
            </div>
        </div>
    </div> -->

</div>